# Ignore virtual environment
venv/
# Ignore local environment variables
.env
# Ignore pycache directory
__pycache__/
# Ignore Django migration files
./migrations/
# Ignore database file
db.sqlite3
.replit/
.replit
.pythonlibs/